version: "3.7"

services:
  sample:
    container_name: starstrip-frontend
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ".:/app"
    ports:
      - "3001:3000"
    environment:
      - NODE_ENV=development